.container {
  display: flex;
  padding: 1.5rem; /* Slightly more padding */
  max-width: 540px !important;
  flex-direction: column;
  gap: 1.5rem; /* Slightly more gap */
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 8px; /* Slightly rounded corners */
}

.container__row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container__row--equal > * {
  flex: 1 1 100%;
}
